@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="color: darkviolet;">@ViewData["Title"]</h1>

<p style="color: darkviolet;">Never trust a website with purple terms and conditions.</p>
<spoiler style="color: darkviolet;">They clearly violet your privacy.</spoiler>
