<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        
    </appSettings>
    <staticContent>
        <clear/>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" />
        <mimeMap fileExtension=".jpg" mimeType="image/jpg"/>
        <mimeMap fileExtension=".png" mimeType="image/jpg"/>
        <mimeMap fileExtension=".css" mimeType="text/css"/>
        <mimeMap fileExtension=".js" mimeType="text/javascript"/>
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
        <remove name="ApplicationInsightsWebTracking" />
        <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
</configuration>
